################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Integration/Integration.csproj
/Integration/obj
/Integration/bin/Debug/net7.0
/.vs/Integration
/.cr/personal/FavoritesList
